* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    

}

.home{
  color: green;
}
.nav-item{
  margin-top: 10px;
}

.header-butt{
    background: rgb(12, 145, 28);
    padding: 10px 25px;
    border: none;
    color:white;
    margin:10px 0px;
    border-radius: 20px;
}
.container .test {
    height: auto;
    position: relative;
}

.main1{
       background-image: url('images/barbi.jpeg');
    height: 600px;
    position: relative;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    overflow: hidden;
        
}
.overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: 1;
}
.cont{
    position: relative;
    color: #f7f3f3;
    z-index: 2;
    text-align: left;
    padding-top: 150px;
}


.container img {
    width: 100%;}


.main{
  background-image: url('images/bac2.jpg');
}

.container .cont {
    font-size: 22px;
    position: absolute;
    color: white;
    top: 20%;
    left: 6%;
}

.B1{
    font-weight: 30;

}

.TWO:before {
    transition: 0.5s all ease;
    position: absolute;
    background-color: aquamarine;
}

.MY-button {
    background: rgb(12, 145, 28);
    padding: 10px 25px;
    border: none;
    color:white;
    margin:10px 0px;
    border-radius: 20px;
  }
/*timemer*/
/* ================= TIMER / COUNTER ================= */

.counter-wrapper{
    background: url("images/bac2.jpg") center/cover no-repeat;
    width: 100%;
    
    padding: 6rem 9%;
    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

/* overlay */
.counter-wrapper::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(62, 58, 58, 0.6);
    z-index: 1;
}

/* counter box */
.counter{
    position: relative;
    z-index: 4;
    text-align: center;
    color: #fff;
}

/* number */
.counter h1{
    font-size: 3rem;
    color: #0b651f;
}

/* label */
.counter p{
    margin-top: 10px;
    font-size: 1.1rem;
    text-transform: capitalize;
}

/* green underline */
.counter::after{
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: #0bbc31;
    margin: 12px auto 0;
}
     /*timemer*/

/*12 button section  */
.but{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 211, 211) ;
    background:url("images/bac2.jpg") center;
    text-align: center;
    width: 250px;
    height: auto;
    padding:7px;
    margin-top: 5px;
    margin-left:30px ;

}
.but:hover {
    background-color: rgb(250, 251, 250);
    border: 1PX solid rgb(36, 129, 36); 
    color:rgb(36, 129, 36);
}
.but{
  font-size: 1.5em;
  margin-right: 8px;
  font-family: sans-serif;
  
}
.icone1{
  color: rgb(25, 41, 155);}
.icone2{
  color: rgb(132, 199, 8);}
.icone3 {
  color: rgb(174, 17, 226);}
.icone4 {
  color: rgb(27, 90, 7); }
.icone5 {
  color: rgb(62, 106, 113);}
.icone6 {
  color: rgb(228, 50, 18);}
.icone7 {
  color: rgb(62, 106, 113); }
.icone8 {
  color: rgb(36, 50, 203); }
.icone9 {
  color: rgb(62, 106, 113); }
.icone10 {
  color: rgb(153, 95, 40); }
.icone11 {
  color: rgb(62, 106, 113); }
.icone12{
  color: rgb(0, 255, 132); }
.icone13{
  color: rgb(198, 175, 26); }
.icone14{
  color: rgb(12, 239, 163); }
.icone15{
  color: rgb(216, 65, 0); }
.icone16{
  color: rgb(17, 160, 34); }
.icone17{
  color: rgb(83, 11, 171); }
.icone18{
  color: rgb(4, 94, 99); }
.icone19{
  color: rgb(158, 18, 6); }

/*12 button section*/

.BUT{
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.butt{
    background: rgb(12, 177, 31);
    padding: 10px 25px;
    border: none;
    color:white;
    margin:10px 0px;
    border-radius: 10px;
}

.mar{
  margin: 20px;
}
.form {
    margin: 22px;
    border: 2PX solid rgb(110, 88, 88);
    height:auto ;
    padding: 22px;
    width:auto;

    background: url("images/bac2.jpg") center;
    background-size: cover;
    padding-bottom: 50px;
}

.signin{
    text-align: center;
}







