*{
    margin: 0px;
    padding:0px;
    font-family: sans-serif;
}

.training-section{
    width:100%;     /*box ke mane page par jo coler h wo show hoga*/
    background: url("images/bac2.jpg") center;
    background-size: cover;
    padding-bottom: 50px;
}

.training-section h1{
    text-align: center;
    padding: 25px 0px;
}

.container{
    width:1170px;
    margin: auto;
    flex-wrap: wrap;               /*is se ek line me 4 box hirahege*/
    justify-content: space-around;   /*left or right se gape aayi h*/
    display:flex;                  /*ek line me aagaye*/
}

.Training-items{
    flex-basis: 23%;  
    margin: 10px 0px;
    text-align: center;
    padding: 20px 0px;
    background: white;
    box-shadow: 0px 0px 10px 3px lightgrey;
}

.Training-items h3{
     padding: 10px 0px ;
}
.Training-items p{
     font-size:13px;
     padding: 10px;
}

.Training-items button{
    background: rgb(89, 89, 198);
    padding: 10px 25px;
    border: none;
    color:white;
    margin:10px 0px;
    border-radius: 10px;
}

.Training-items:hover{
    background:green;
}

.Training-items:hover h3,.Training-items:hover p{
     color:white;
}

.size{
      height: auto;
      max-width: 30px;
      margin: 10px;
}
.Training-items:hover button{
    background: white;
    color:green;
}

@media only screen and (min-width:200px) and (max-width:767px){
    .container{
        width: 100%;
        flex-direction: column;
    }
    .Training-items{
        margin:10px;
    }
}